<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hb.zoojumanji">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animal.activity.AnimalActivity" />
        <activity android:name=".enclosure.activity.EnclosureActivity" />
        <activity android:name=".stock.activity.StockActivity" />
        <activity android:name=".stock.activity.StockDetailActivity" />
        <activity android:name=".ticket.activity.TicketActivity" />
        <activity android:name=".animal.activity.AnimalDetailActivity" />
        <activity android:name=".enclosure.activity.EnclosureDetailActivity" />
        <activity android:name=".animal.activity.AnimalCreationActivity" />
        <activity android:name=".stock.activity.StockCreationActivity" />
        <activity android:name=".ticket.activity.TicketTypeActivity" />
        <activity android:name=".ticket.activity.TicketDetailActivity" />
        <activity android:name=".enclosure.activity.EnclosureCreationActivity" />
        <activity android:name=".enclosure.activity.EnclosureModifyActivity" />
        <activity android:name=".ticket.activity.TicketCreationActivity"></activity>
    </application>

</manifest>